<!-- testing section -->
<section class="section">
  <div class="container">
    <!-- begin of columns -->
    <div class="columns">

      <!-- left column -->
      <div class="column is-4-desktop is-6-tablet">

        <!-- first row search bar & geo button --><!-- tablet & desktop view-->
        <div class="columns is-hidden-mobile">
          <div class="column">
            <nav class="navbar">
                <div class="navbar-item">
                  <p class="control is-grouped">
                    <form action="/search" method="get">
                      <input class="input" type="text" name="term" placeholder="Find a restaurant">
                    <button type="submit" class="button is-primary">
                      <span class="icon">
                        <i class="fa fa-search"></i>
                      </span>
                    </button>
                    </form>
                  </p>
                </div>
            </nav>
          </div>
        </div>
        <!-- end of first row -->

        <!-- first row search bar & geo button --><!-- mobile view -->
        <div class="columns is-mobile is-hidden-tablet">
          <div class="column">
            <p class="control is-grouped">
              <input class="input" type="text" placeholder="Find a restaurant">
              <button class="button is-primary">
                <span class="icon">
                  <i class="fa fa-search"></i>
                </span>
              </button>
            </p>
          </div>
          <!-- NOTE: this block is required even though hidden, to get google maps API -->
          <div class="column is-hidden-mobile">
            <form id="myForm" action='/restaurants' method="post">
              <input type='hidden' id="lat" name='lat' value='' />
              <input type='hidden' id="lon" name='lon' value='' />
              <button class="button is-info" type='submit' name='submit'>
                <span class="icon">
                  <i class="fa fa-street-view"></i>
                </span>
              </button>
            </form>
          </div>
          <!-- end of above NOTE -->
        </div>
        <!-- end of first row -->

        <!-- beginning of Ruby magic -->
        <% @restaurants.each do |restaurant| %>
        <!-- row -->
        <div class="columns">
          <div class="column">
            <a class="button is-fullwidth is-medium is-primary is-outlined modal-button" data-target="#modal_<%= restaurant.id %>">
              <p class="is-pulled-left"><%= restaurant.name %></p><p class="tag is-warning is-pulled-right"><%= restaurant.two_seat_wait%> min</p>
            </a>
          </div>
        </div>
        <!-- end of row -->
        <!-- beginning of a modal -->
        <div id="modal_<%= restaurant.id %>" class="modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="box">
              <div class="content">
                <p class="image is-4by3">
                  <img src="http://placehold.it/800x600">
                </p>
                <p><span class="tag is-warning"><%= restaurant.two_seat_wait %> minute wait</p</p>
                <p class="title is-5"><%= restaurant.name %></p>
                <p class="subtitle is-6"><%= restaurant.address.split(",")[0] %></p>
                <p>This restaurant is the shit. I mean, beef, pork, veggies, zomg, and brains. Review goes here lalalala, the roast brains is.... not a smart choice. But atmosphere is nice.</p>
              </div>
            </div>
          </div>
          <button class="modal-close"></button>
        </div>
        <!-- end of modal -->
        <% end %>
        <!-- end of Ruby magic -->

      </div><!-- end of left column -->
      <!-- end left column -->

      <!-- right side main column, for desktop & tablet -->
      <div class="column is-hidden-mobile">
        <div class="box">
          <div id="map"></div>
        </div>
      </div><!-- end right column -->
      <!-- end right column -->

    </div>
    <!-- end of columns -->
  </div>
</section>
