<% if @results.present? %>
  <table>
  <td>Restaraunt Name</td><td>Address</td><td>Two Seat Wait</td><td>Four Seat Wait</td><td>Large Table Wait</td>
  <% @results.each do |restaraunt| %>
    <tr><td><%= restaraunt.name %></td><td><%= restaraunt.address %></td><td><%= restaraunt.two_seat_wait %></td><td><%= restaraunt.four_seat_wait %></td><td><%= restaraunt.large_table_wait %></td></tr>
  <% end %>
<% else %>
  <p> There are no results with the name: <%= params[:term] %>.</p>
<% end %>