<section class="section">
  <div class="container">




      <% if @results.empty? %>
        <div class="notification is-warning">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <h1 class="title">It's a trap!</h1>
              <h2 class="subtitle"><strong><%= params[:term] %></strong> is not the restaurant you are looking for</h2>
            </div>
          </div>
          <div class="columns">
            <div class="column">
            </div>
            <div class="column">
              <a class="button is-primary is-pulled-right" href="/restaurants">
                <span class="icon">
                  <i class="fa fa-home"></i>
                </span>
              </a>
            </div>
            <div class="column">
              <nav class="navbar">
                <div class="navbar-item">
                  <form action="/search" method="get">
                    <p class="control is-grouped">
                      <input class="input" type="text" name="term" placeholder="find a restaurant">
                      <button type="submit" class="button is-primary">
                        <span class="icon">
                          <i class="fa fa-search"></i>
                        </span>
                      </button>
                    </p>
                  </form>
                </div>
              </nav>
            </div>
            <div class="column">
            </div>

          </div>
        </div>

      <% else %>

      <table class="table">
        <thead>
          <tr>
            <th>Restaurant</th>
            <th>Address</th>
            <th>1 & 2</th>
            <th>3 & 4</th>
            <th>5+</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Restaurant</th>
            <th>Address</th>
            <th>1 & 2</th>
            <th>3 & 4</th>
            <th>5+</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Misty Abbott</td>
            <td>Bass Guitar</td>
            <td>123</td>
            <td>456</td>
            <td>789</td>
          </tr>
        </tbody>
      </table>



    <% end %>

  </div>
</section>

<% if @results.present? %>
  <table>
  <td>Restaraunt Name</td><td>Address</td><td>Two Seat Wait</td><td>Four Seat Wait</td><td>Large Table Wait</td>
  <% @results.each do |restaraunt| %>
    <tr><td><%= restaraunt.name %></td><td><%= restaraunt.address %></td><td><%= restaraunt.two_seat_wait %></td><td><%= restaraunt.four_seat_wait %></td><td><%= restaraunt.large_table_wait %></td></tr>
  <% end %>
<% else %>
  <p>It's a trap! <strong><%= params[:term] %></strong> is not the restaurant you are looking for.</p>
<% end %>
