<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="tabs is-fullwidth is-centered">
          <ul>
            <li class="is-active"><span><i class="fa fa-user"></i><strong><%= @hostess.username %></strong> @ <%= @hostess.restaraunt.name %></span></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6-desktop is-5-tablet">
        <div class="container">&nbsp;</div>
        <div class="message is-warning">
          <div class="columns">
            <div class="column is-hidden-touch">
              <a class="box">
                <i class="fa fa-check"></i>
              </a>
            </div>
            <div class="column is-hidden-desktop">
              <a class="tag is-medium is-primary">
                <i class="fa fa-check"></i>
              </a>
            </div>
            <div class="column is-4">
              <h1 class="title is-text-centered is-5">Tom</h1>
              <h2 class="subtitle is-text-centered is-6">3 guests</h2>
            </div>
            <div class="column is-6">
              <div class="columns">
                <div class="column">
                  <span class="icon is-small is-outlined is-pulled-right">
                    <i class="fa fa-chevron-down"></i>
                  </span>
                </div>
                <div class="column is-3">
                  <h1 class="title is-text-centered is-4">17</h1>
                  <h2 class="subtitle is-text-centered is-6">min</h2>
                </div>
                <div class="column">
                  <span class="icon is-small is-outlined">
                    <i class="fa fa-chevron-up"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="container">&nbsp;</div>
      <div class="message is-success">
        <div class="columns">
          <div class="column is-hidden-touch">
            <a class="box">
              <i class="fa fa-check"></i>
            </a>
          </div>
          <div class="column is-hidden-desktop">
            <a class="tag is-medium is-primary">
              <i class="fa fa-check"></i>
            </a>
          </div>
          <div class="column is-4">
            <h1 class="title is-text-centered is-5">Damien</h1>
            <h2 class="subtitle is-text-centered is-6">2 guests</h2>
          </div>
          <div class="column is-6">
            <div class="columns">
              <div class="column">
                <span class="icon is-small is-outlined is-pulled-right">
                  <i class="fa fa-chevron-down"></i>
                </span>
              </div>
              <div class="column is-3">
                <h1 class="title is-text-centered is-4">8</h1>
                <h2 class="subtitle is-text-centered is-6">min</h2>
              </div>
              <div class="column">
                <span class="icon is-small is-outlined">
                  <i class="fa fa-chevron-up"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container">&nbsp;</div>
      <div class="message is-success">
        <div class="columns">
          <div class="column is-hidden-touch">
            <a class="box">
              <i class="fa fa-check"></i>
            </a>
          </div>
          <div class="column is-hidden-desktop">
            <a class="tag is-medium is-primary">
              <i class="fa fa-check"></i>
            </a>
          </div>
          <div class="column is-4">
            <h1 class="title is-text-centered is-5">Billiam</h1>
            <h2 class="subtitle is-text-centered is-6">1 guest</h2>
          </div>
          <div class="column is-6">
            <div class="columns">
              <div class="column">
                <span class="icon is-small is-outlined is-pulled-right">
                  <i class="fa fa-chevron-down"></i>
                </span>
              </div>
              <div class="column is-3">
                <h1 class="title is-text-centered is-4">2</h1>
                <h2 class="subtitle is-text-centered is-6">min</h2>
              </div>
              <div class="column">
                <span class="icon is-small is-outlined">
                  <i class="fa fa-chevron-up"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container">&nbsp;</div>
    <div class="message is-danger">
      <div class="columns">
        <div class="column is-hidden-touch">
          <a class="box">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="column is-hidden-desktop">
          <a class="tag is-medium is-primary">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="column is-4">
          <h1 class="title is-text-centered is-5">Justine</h1>
          <h2 class="subtitle is-text-centered is-6">5+ guests</h2>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">
              <span class="icon is-small is-outlined is-pulled-right">
                <i class="fa fa-chevron-down"></i>
              </span>
            </div>
            <div class="column is-3">
              <h1 class="title is-text-centered is-4">33</h1>
              <h2 class="subtitle is-text-centered is-6">min</h2>
            </div>
            <div class="column">
              <span class="icon is-small is-outlined">
                <i class="fa fa-chevron-up"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="column">
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">1 & 2</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <form method="get" action="set_two_seat_wait">
                <p class="control is-grouped">
                  <input class="input is-large" type="number" name="two_seat_time" placeholder="time">
                  <button class="button is-large is-info is-outlined" type="submit">
                    set
                  </button>
                </p>
              </form>
            </div>
            <div class="column is-4">
              <a class="button is-large is-outlined" type="button" onClick="reset_two_seat_wait()">
                <i class="fa fa-clock-o"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <span class="button is-large is-success">
                <i class="fa fa-plus"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon is-large is-pulled-right" type="button" onclick="decrement_two_seat_wait()">
                <i class="fa fa-chevron-down"></i>
              </span>
            </div>
            <div class="column">
              <h1 class="title is-text-centered is-1" id="two_seat_wait"><%= current_hostess.restaraunt.two_seat_wait %></h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column">
              <span class="icon is-large" type="button" onClick="increment_two_seat_wait()">
                <i class="fa fa-chevron-up"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="container">&nbsp;</div>
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">3 & 4</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <form method="get" action="set_four_seat_wait">
                <p class="control is-grouped">
                  <input class="input is-large" type="number" name="four_seat_time" placeholder="time">
                  <button class="button is-large is-info is-outlined" type="submit">
                    set
                  </button>
                </p>
              </form>
            </div>
            <div class="column is-4">
              <a class="button is-large is-outlined" type="button" onClick="reset_four_seat_wait()">
                <i class="fa fa-clock-o"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <span class="button is-large is-success">
                <i class="fa fa-plus"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon is-large is-pulled-right" type="button" onClick="decrement_four_seat_wait()">
                <i class="fa fa-chevron-down"></i>
              </span>
            </div>
            <div class="column">
              <h1 class="title is-text-centered is-1" id="four_seat_wait"><%= current_hostess.restaraunt.four_seat_wait %></h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column">
              <span class="icon is-large" type="button" onClick="increment_four_seat_wait()">
                <i class="fa fa-chevron-up"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="container">&nbsp;</div>
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">5 & +</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <form method="get" action="set_large_table_wait">
                <p class="control is-grouped">
                  <input class="input is-large" type="number" name="large_table_time" placeholder="time">
                  <button class="button is-large is-info is-outlined" type="submit">
                    set
                  </button>
                </p>
              </form>
            </div>
            <div class="column is-4">
              <a class="button is-large is-outlined" type="button" onClick="reset_large_table_wait()">
                <i class="fa fa-clock-o"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <span class="button is-large is-success">
                <i class="fa fa-plus"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon is-large is-pulled-right" type="button" onClick="decrement_large_table_wait()">
                <i class="fa fa-chevron-down"></i>
              </span>
            </div>
            <div class="column">
              <h1 class="title is-text-centered is-1" id="large_table_wait"><%= current_hostess.restaraunt.large_table_wait %></h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column">
              <span class="icon is-large" type="button" onClick="increment_large_table_wait()">
                <i class="fa fa-chevron-up"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
